<div>
    Welcome to the home page

    <a id="goToGridLink" ui-sref="grid"> Go to Grid Page</a>
    <br>
    <a ng-click="home.goToGrid()" href="">Go to static page</a>


    <div>Some text</div>
    <div>Some text</div>
    <div>Some text</div>
    <div>Some text</div>
    <form name="details">
        <input id="nameInput" ng-model="home.name">
        <div>This is the name you have entered: {{home.name}}</div>
        <input id="emailInput" ng-model="home.email" ng-pattern="/^[^@]+@[^@]+\.[a-zA-Z]{2,6}$/">

        <button id="saveBtn">Save</button>
        <button id="cancelBtn" ng-click="home.resetInputs()" ng-disabled="!details.$dirty">Cancel</button>
    </form>

    <br>
    <div ng-init="show = true">
        {{show}}
        <div id="divWithNgIf" ng-if="show">Removed</div>
        <div id="divWithNgHide" ng-hide="!show">Hidden</div>
        <div id="divWithNgShow" data-ng-show="show">Displayed</div>

        <br>
        <button id="showHideBtn" ng-click="show=!show">Show/Hide</button>
    </div>
</div>